:root {
    --p-text-size: 1.5em;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

p {
    font-size: var(--p-text-size);
}

strong {
    font-size: var(--p-text-size);
}

/* Styling profile image on main page */
.profile-img {
    /* Text styling */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black;

    background-image: url(profile.jpg);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.academics-grid {
    display: grid;
    grid-template-columns: 20vw auto;

    column-gap: 5vw;
}

.grid-date {
    text-align: right;
    font-weight: bold;
}