:root {
    /* Button height and width */
    --button-width: 15vmin;
}

/* Div object that holds tictactoe buttons */
.board-grid {
    display: grid;
    grid-template-columns: var(--button-width) var(--button-width) var(--button-width);
    grid-template-rows: var(--button-width) var(--button-width) var(--button-width);

    gap: 0;
}

/* Tictactoe buttons! */
.ttt-button {
    background-color: transparent;
    border: 3px solid black;
    border-radius: 0;

    font-size: 10vmin;
    font-weight: bolder;
    font-family: Tahoma;
}

/* Getting rid of outside borders */
#_0-0 {
    border-left-style: hidden !important;
    border-top-style: hidden !important;
}

#_0-1 {
    border-top-style: hidden !important;
}

#_0-2 {
    border-right-style: hidden !important;
    border-top-style: hidden !important;
}

#_1-0 {
    border-left-style: hidden !important;
}

#_1-2 {
    border-right-style: hidden !important;
}

#_2-0 {
    border-left-style: hidden !important;
    border-bottom-style: hidden !important;
}

#_2-1 {
    border-bottom-style: hidden !important;
}

#_2-2 {
    border-right-style: hidden !important;
    border-bottom-style: hidden !important;
}