/* Styling profile image on main page */
.profile-img {
    /* Text styling */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black;

    background-image: url(../img/profile.jpg);

    /* Full height */
    height: 99vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-text {
    font-size: 4em;
    color: white;
    /* mix-blend-mode: difference; */

    margin: 1vh;
}

p.profile-text {
    font-style: italic;
}

/* Intro paragraph text */
#intro {
    margin: 10vh 10vw;
    text-align: center;
}

.cv-grid {
    display: grid;
    grid-template-columns: 20vw auto;

    column-gap: 5vw;
}

.grid-date {
    text-align: right;
    font-weight: bold;
}

.grid-content span.first-sentence {
    font-weight: bold;
}