:root {
    /* Background color */
    --background-color: #FEFBEA;
    /* Text sizing */
    --p-text-size: 1.5em;
    --h1-text-size: 2em;
}

html {
    height: 100%;
    background-color: var(--background-color);
}

body {
    height: 100%;
}

h1 {
    font-size: var(--h1-text-size);
    width: 100%; 
    text-align: center;
    
    /* top and bottom margins */
    margin-top: 5vh;
    margin-bottom: 5vh;

    /* Code for horizontal line on page */
    border-bottom: 3px solid #000; 
    line-height: 0.1em;
}

h1 span {
    background: var(--background-color); 
    padding:0 5vh; 
}

p {
    font-size: var(--p-text-size);
}

strong {
    font-size: var(--p-text-size);
}

/* Styling profile image on main page */
.profile-img {
    /* Text styling */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black;

    background-image: url(../img/profile.jpg);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-text {
    font-size: 4em;
    color: white;
    /* mix-blend-mode: difference; */

    margin: 1vh;
}

p.profile-text {
    font-style: italic;
}

/* Intro paragraph text */
#intro {
    margin: 10vh 10vw;
    text-align: center;
}

.cv-grid {
    display: grid;
    grid-template-columns: 20vw auto;

    column-gap: 5vw;
}

.grid-date {
    text-align: right;
    font-weight: bold;
}

.grid-content span.first-sentence {
    font-weight: bold;
}