/* Styling profile image on main page */
.profile-img {
    /* Text styling */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: black;

    background-image: url(../img/profile.jpg);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.profile-text {
    font-size: 8em;
    color: white;
    /* mix-blend-mode: difference; */

    margin: 1vh;
}

p.profile-text {
    font-style: italic;
}

/* Intro paragraph text */
#intro {
    margin: 10vh 10vw;
    text-align: center;
}

.cv-grid {
    display: grid;
    grid-template-columns: auto auto;

    column-gap: 5vw;

    margin: auto 20vw;
}

.grid-date {
    text-align: right;
    font-weight: bold;
}

.grid-content span.first-sentence {
    font-weight: bold;
}

/* Styling h1, specifically section headers */
h1 {
    /* Making it so the line doesn't extend across the whole page */
    width: 30vw !important;

    /* Centering header */
    display: block;
    margin-left: auto;
    margin-right: auto;
}