/* Styling title card */
.research-title {
    /* Text styling */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../img/hurricane_space.jpg);

    /* Full height */
    height: 50vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.placeholder {
    padding: 15vh;
    margin-bottom: 80vh;
    text-align: center;
    font-weight: bolder;
    font-size: 5em;
}