h1 {
    margin: 10vh auto;

    font-size: 4em;
    font-weight: bolder;
    font-family: Tahoma;
}

.container {
    display: grid;
    justify-content: center;
}

.opponent-grid {
    display: grid;
    grid-template-columns: auto auto auto;

    margin-top: 10vh;
    column-gap: 10vw;
}

.navbar {
    /* Making navbar not sticky */
    position: relative;
}